<div class="w-[82%] pr-6 pt-5">
  <div class="cont-<%= message.user.id %>">
    <div class="msg-<%= message.user.id %>">
      <div class="flex items-center pt-2 w-full mr-12 pr-6">
        <p class="init-container mx-3"> <%= message.user.name.initials %></p>
        <p class='w-[75em]'><%= message.body %></p>
      </div>  
    </div>
  </div>
  <p class="text-[10px] text-gray-500 mx-14 tracking-wide">Posted on <%= message.created_at.strftime("%m/%d/%Y at %l:%M %p") %></p>
</div>




                   
    <%# <% unless message.room.is_private %>
    <%# <% end %>