<div class="container">
  <h5> <%= current_user.email %></h5>
  <h2>Users</h2>
  <%= turbo_stream_from "users" %>
  <div id="users">
    <%= render @users %>
  </div>
  <h2>Rooms</h2>
  <%= turbo_stream_from "rooms" %>
  <div id="rooms">
    <%= render @rooms %>
  </div>
  <%= render 'layouts/new_room_form' %>
</div>
