<div id="chatroom_container" class="container row bg-gray-900 text-white p-6">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <h5 class="text-sm tracking-widest font-light mb-2"> <%= current_user.email %></h5>
    <h2 class="text-2xl tracking-wider">Users</h2>
    <%= turbo_stream_from "users" %>
    <div id="users" class="text-sm tracking-widest font-light py-4">
      <%= render @users %>
    </div>
    <h2 class="text-2xl tracking-wider">Rooms</h2>
    <%= turbo_stream_from "rooms" %>
    <div id="rooms" class="text-sm tracking-widest font-light mb-2 py-4">
      <%= render @rooms %>
    </div>
    <%= render 'layouts/new_room_form' %>
  </div>

  <div class="room_container" class="col-md-8 col-sm-8 bg-gray-900 text-white p-6">
    <% if @signle_room %>
      <h4 class="text-center"> <%= @single_room.name %> </h4>
    <% end %>
  </div>
</div>
