<!DOCTYPE html>
<html>
  <head>
    <title>AsideApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= ".msg-#{current_user&.id}" %> {
      padding-top: 8px;
      margin-right: 8px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      padding-top: 8px;
      margin-right: 8px;
      }
    </style>
  </head>

  <body>
    <%= render "/layouts/header" %>
      <% if notice %>
        <p class="flex-row text-center py-2 my-2 w-auto bg-green-200"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="flex-row text-center py-2 my-2 w-auto bg-yellow-200"><%= alert %></p>
      <% end %>
    <div class="relative w-full h-[100vh] flex">
      <%= yield %>
    </div>
  </body>
</html>
