<!DOCTYPE html>
<html>
  <head>
    <title>AsideApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: #eaeaea;
      padding: 8px 0 8px 0px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      padding: 8px 0 8px 0px;
      }
    </style>
  </head>

  <body>
    <%= render "/layouts/header" %>
    <div class="container w-full h-auto flex">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
